[package]
name = "miso"
version = "0.1.0"
edition = "2021"

[lib]
doctest = false

[profile.release]
strip = true
lto = true

[profile.release-thin-lto]
inherits = "release"
lto = "thin"

[dependencies]
async-recursion = "1.1.1"
async-stream = "0.3.6"
atomic_float = "1.1.0"
axum = { version = "0.7.7", features = ["macros"] }
clap = { version = "4.5.20", features = ["derive"] }
color-eyre = { version = "0.6.3", default-features = false }
futures-core = "0.3.31"
futures-util = "0.3.31"
humantime = "2.1.0"
itertools = "0.13.0"
kinded = "0.3.0"
parking_lot = "0.12.3"
reqwest = { version = "0.12.9", features = ["json"] }
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.132"
smallvec = { version = "1.13.2", features = ["union"] }
tokio = { version = "1.40.0", features = ["full"] }
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
typetag = "0.2.18"
uuid = { version = "1.11.0", features = ["v7", "serde"] }
vrl = { version = "0.19.0", default-features = false, features = [
  "compiler",
  "diagnostic",
  "stdlib",
  "value",
]}

[dev-dependencies]
ctor = "0.2.9"
