name: Rust

on:
  push:
    branches: [ "main" ]
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - "*/src/**"
      - "tests/**"
      - ".github/workflows/rust.yml"
  pull_request:
    branches: [ "main" ]
    paths:
      - "Cargo.toml"
      - "Cargo.lock"
      - "*/src/**"
      - "tests/**"
      - ".github/workflows/rust.yml"

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache setup
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build --verbose

  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      # Override target-cpu=native from .cargo/config.toml.
      # Cached artifacts may target CPU features unavailable on this runner
      RUSTFLAGS: ""

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache setup
        uses: Swatinem/rust-cache@v2

      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Compile
        run: cargo nextest run --no-run --locked --workspace

      - name: Run
        run: cargo nextest run --workspace

  lint:
    name: rustfmt + clippy
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache setup
        uses: Swatinem/rust-cache@v2

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: rustfmt, clippy

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all --all-features --tests -- -D warnings
